# Byte-compiled / optimized / DLL files
TODO.txt
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
# Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
# uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
# poetry.lock
# poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
# pdm.lock
# pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
# pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Redis
*.rdb
*.aof
*.pid

# RabbitMQ
mnesia/
rabbitmq/
rabbitmq-data/

# ActiveMQ
activemq-data/

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#   JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#   be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#   and can be added to the global gitignore or merged into this file.  For a more nuclear
#   option (not recommended) you can uncomment the following to ignore the entire idea folder.
# .idea/

# Abstra
#   Abstra is an AI-powered process automation framework.
#   Ignore directories containing user credentials, local state, and settings.
#   Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#   Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#   that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#   and can be added to the global gitignore or merged into this file. However, if you prefer, 
#   you could uncomment the following to ignore the entire vscode folder
# .vscode/
# Temporary file for partial code execution
tempCodeRunnerFile.py

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml
utils/input/100_cities_file.txt
utils/input/101_cities_file.txt
utils/input/102_cities_file.txt
utils/input/104_cities_file.txt
utils/input/105_cities_file.txt
utils/input/106_cities_file.txt
utils/input/108_cities_file.txt
utils/input/109_cities_file.txt
utils/input/10_cities_file.txt
utils/input/110_cities_file.txt
utils/input/111_cities_file.txt
utils/input/112_cities_file.txt
utils/input/114_cities_file.txt
utils/input/115_cities_file.txt
utils/input/116_cities_file.txt
utils/input/11_cities_file.txt
utils/input/120_cities_file.txt
utils/input/121_cities_file.txt
utils/input/125_cities_file.txt
utils/input/126_cities_file.txt
utils/input/12_cities_file.txt
utils/input/130_cities_file.txt
utils/input/131_cities_file.txt
utils/input/135_cities_file.txt
utils/input/136_cities_file.txt
utils/input/13_cities_file.txt
utils/input/140_cities_file.txt
utils/input/141_cities_file.txt
utils/input/145_cities_file.txt
utils/input/146_cities_file.txt
utils/input/14_cities_file.txt
utils/input/150_cities_file.txt
utils/input/151_cities_file.txt
utils/input/155_cities_file.txt
utils/input/156_cities_file.txt
utils/input/15_cities_file.txt
utils/input/160_cities_file.txt
utils/input/161_cities_file.txt
utils/input/165_cities_file.txt
utils/input/166_cities_file.txt
utils/input/16_cities_file.txt
utils/input/170_cities_file.txt
utils/input/171_cities_file.txt
utils/input/175_cities_file.txt
utils/input/176_cities_file.txt
utils/input/17_cities_file.txt
utils/input/180_cities_file.txt
utils/input/181_cities_file.txt
utils/input/185_cities_file.txt
utils/input/186_cities_file.txt
utils/input/18_cities_file.txt
utils/input/190_cities_file.txt
utils/input/191_cities_file.txt
utils/input/195_cities_file.txt
utils/input/196_cities_file.txt
utils/input/19_cities_file.txt
utils/input/200_cities_file.txt
utils/input/20_cities_file.txt
utils/input/21_cities_file.txt
utils/input/22_cities_file.txt
utils/input/23_cities_file.txt
utils/input/24_cities_file.txt
utils/input/25_cities_file.txt
utils/input/26_cities_file.txt
utils/input/27_cities_file.txt
utils/input/28_cities_file.txt
utils/input/29_cities_file.txt
utils/input/300_cities_file.txt
utils/input/30_cities_file.txt
utils/input/31_cities_file.txt
utils/input/32_cities_file.txt
utils/input/33_cities_file.txt
utils/input/34_cities_file.txt
utils/input/35_cities_file.txt
utils/input/36_cities_file.txt
utils/input/37_cities_file.txt
utils/input/38_cities_file.txt
utils/input/39_cities_file.txt
utils/input/400_cities_file.txt
utils/input/40_cities_file.txt
utils/input/41_cities_file.txt
utils/input/42_cities_file.txt
utils/input/43_cities_file.txt
utils/input/44_cities_file.txt
utils/input/45_cities_file.txt
utils/input/46_cities_file.txt
utils/input/47_cities_file.txt
utils/input/48_cities_file.txt
utils/input/49_cities_file.txt
utils/input/50_cities_file.txt
utils/input/51_cities_file.txt
utils/input/52_cities_file.txt
utils/input/53_cities_file.txt
utils/input/54_cities_file.txt
utils/input/55_cities_file.txt
utils/input/56_cities_file.txt
utils/input/57_cities_file.txt
utils/input/58_cities_file.txt
utils/input/59_cities_file.txt
utils/input/5_cities_file.txt
utils/input/60_cities_file.txt
utils/input/61_cities_file.txt
utils/input/62_cities_file.txt
utils/input/63_cities_file.txt
utils/input/64_cities_file.txt
utils/input/65_cities_file.txt
utils/input/66_cities_file.txt
utils/input/67_cities_file.txt
utils/input/68_cities_file.txt
utils/input/69_cities_file.txt
utils/input/6_cities_file.txt
utils/input/70_cities_file.txt
utils/input/71_cities_file.txt
utils/input/72_cities_file.txt
utils/input/73_cities_file.txt
utils/input/74_cities_file.txt
utils/input/75_cities_file.txt
utils/input/76_cities_file.txt
utils/input/77_cities_file.txt
utils/input/78_cities_file.txt
utils/input/79_cities_file.txt
utils/input/7_cities_file.txt
utils/input/80_cities_file.txt
utils/input/81_cities_file.txt
utils/input/82_cities_file.txt
utils/input/83_cities_file.txt
utils/input/84_cities_file.txt
utils/input/85_cities_file.txt
utils/input/86_cities_file.txt
utils/input/87_cities_file.txt
utils/input/88_cities_file.txt
utils/input/89_cities_file.txt
utils/input/8_cities_file.txt
utils/input/90_cities_file.txt
utils/input/91_cities_file.txt
utils/input/92_cities_file.txt
utils/input/93_cities_file.txt
utils/input/94_cities_file.txt
utils/input/95_cities_file.txt
utils/input/96_cities_file.txt
utils/input/97_cities_file.txt
utils/input/98_cities_file.txt
utils/input/99_cities_file.txt
utils/input/9_cities_file.txt
